Sort by options.  Filtered too.
<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Artists!</h2>
    </div>

    <div class="content">
      <div class="products pl-5 card-grid-3c">
        <% @artists.each do |artist| %>
        <div>
          <%= link_to artist_path(artist.id) do %>
          <%= artist.first_name %> <%= artist.last_name %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

 <% @artists.each do |artist| %>
        <div>
          <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
        </div>
      <% end %>
