<h1>Welcome to creaze.com, <%= @user.username %></h1>
  <p>
    You have successfully signed up to creaze.com,
    your username is: <%= @user.username %>.<br>
  </p>
  <p>You'll love what Creaze can do for your creative career!</p>
  <p>Thanks for joining and have a great day!</p>
