<div>
  Chatting with <%= conversation.with(current_user).username %>
  <br>
  <% unless conversation.messages.empty? %>
    <em><%= conversation.messages.last.body.truncate(50) %></em>
  <% end %>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>
  <hr>
</div>
