<div>
  Chatting with <%= conversation.receiver.username %>
  <br>
  <%#= conversation.messages.last.message_time %>
  <% unless conversation.messages.empty? %>
    <em><%= conversation.messages.last.body.truncate(50) %></em>
  <% end %>
  <br>
  <%= link_to 'View conversation', conversation_messages_path(conversation) %>
  <hr>
</div>
