<h1>Your conversations</h1>

 <% @conversations.each do |conversation| %>
        <div>
          <%= render partial: 'conversation', locals: {conversation: conversation} %>
        </div>
 <% end %>
