

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
<%= @article.content %>
</p>

<%= link_to 'Delete this article!', artist_article_path(@artist, @article), class: 'btn btn-primary', method: :delete, data: {confirm: "Are you sure?"}  %>

