<div class="artcard" style="width: 18rem;">

<ul>
     <% art.photos.each do |photo| %>
    <li><%= cl_image_tag(photo.photo, width: 150, height: 120, crop: :fill) %></li>
  <% end %>
</ul>

  <div class="card-body">
    <h3 class="card-title">  <%= art.title %></h3>
    <p class="card-text">  <%= art.description %></p>
    <p>Edit this  <%= link_to 'Edit', edit_artist_art_path(@artist, art)  %>   </p>
    </div>
</div>

