<section>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <h1>About Us</h1>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>The idea for Creaze began in...</p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>I'm primarily a one team at the moment.  My name is Amir Mourali.  You can learn more about me at:</p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p><strong>www.amirmourali.com/bio</strong></p>
  </div>
</div>

</section>

