<section>

<div class="row align-items-center justify-content-center article-social mb-3">
  <div class="row">
    <h1>About Us</h1>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>My name is Amir Mourali, I'm the founder of Creaze.  I'm primarily a one team at the moment.  You can learn more about me at:</p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p><strong>www.amirmourali.com/bio</strong></p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>The idea for Creaze began several years ago when a younger female artist told me that she didn't want to have to sleep with the men in charge of the local art scene in order for her to achieve success.</p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>I went on to create Creaze over the next several years to make the lives of creators worldwide easier.  I've tried to make it easier for you to get discovered while providing you the tools needed to make a living more easily.</p>
  </div>
</div>


</section>

