<div class="row align-items-center justify-content-center article-social mb-3">
  <div class="row">
    <h1>Contact Us</h1>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>As of right now, I'm essentially a one man team.  You can easily reach me by email at: </p> <br>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p><a href = "mailto: amourali7135@gmail.com"><strong>amourali7135@gmail.com</strong></a></p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>Or you can call/text me at <strong>+13104037911</strong> </p> <br>
  </div>
</div>
