Show art they have,add new art, edit existing art, see followed shit.
<h1> Hello <%= @artist.first_name %>! Show your art to the world</h1>
<%= link_to "Add Art", new_artist_art_path(@artist.id), class: 'btn btn-primary' %>
