Paginate / M-ALL.
<h4 class="text-dark row align-items-center justify-content-center py-2">Your <%= @artist.followers.size %> followers</h4>

<% @artist.followers.each do |follower| %>
  <div class="row align-items-center justify-content-center py-1">
    <div class="col-sm-6">
    <%#= follower.username %>
      <%= render partial: 'shared/user_follower_card', locals: { user: follower, artist: @artist} %>
    </div>
  </div>
<% end %>


<% @followers.each do |follower| %>
  <div class="row align-items-center justify-content-center py-1">
    <div class="col-sm-6">
   <%#= follower.username %>
    <%= render partial: 'shared/user_follower_card', locals: { user: follower, artist: @artist} %>
    </div>
  </div>
<% end %>
