Tabs for this like in IG.  Created at time wrong!
.Order() active record query.
ID instead of created_at test.
Last 3-5...what other option do I have?
Works in the bottom sector after Vladimir is called.

<p>The recent activity of those you are following</p>
  <% @art_array.sort_by { |art| -art.id}.each do |art| %>
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-6">
        <%= render partial: 'shared/art_card', locals: {art: art, artist: art.artist } %>
      </div>
    </div>
  <% end %>
<div class="row align-items-center justify-content-center py-2">
  <%= pagy_nav(@pagy).html_safe %>
  </div>

