<p>The recent activity of those you are following</p>
  <% @art_array.sort_by { |art| -art.id}.first(20).each do |art| %>
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-6">
        <%= render partial: 'shared/art_card', locals: {art: art, artist: art.artist } %>
      </div>
    </div>
  <% end %>
<div class="row align-items-center justify-content-center py-2">
  <%= pagy_nav(@pagy).html_safe %>
  </div>

