<div class="row align-items-center justify-content-center article-social mb-3">
  <div class="row">
    <h1>Help</h1>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>If you're reading this, you are probably someone that I personally asked to help me out with early beta testing so I could get some good user feedback. </p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>As you've probably figured, Creaze is currently pretty shitty.  A lot of features don't work, and there's SO much work to be done on it. </p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>With that being said though, if there are errors or anything broken with what's currently here, please let me know so I can fix it.</p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>+13104037911 or <a href = "mailto: amourali7135@gmail.com"><strong>amourali7135@gmail.com</strong></a> </p>
  </div>
</div>

