<div class="container">
  <div class="row">
    <div class="class">
      <h1>Welcome to Global Art House!</h1>
      <h3>Artist? Register here!</h3>
      <%= link_to "new", new_artist_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
