<% @user.find_liked_items.each do |liked|  %>
<% if liked = art %>
<div>
  <%= render partial: 'shared/art_card', locals: {art: art} %>
</div>
<% else %>
  <div>
    <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
  </div>
<% end %>
<% end %>



