<h1>Thank you for getting onto the subscription list for creaze.com, <%= @subscription.email %></h1>
  <p>
    You're successfully on the list now.<br>
  </p>
  <p>You'll love what Creaze can do for your creative career!</p>
  <p>Stay tuned for more news!</p>
