Paginate/limit.  Design this too, shit.  Put a partial artist header on top.
<br>
 welcome to <%= @artist.first_name %>'s art!
 <br>

<% @artist.arts.each do |art| %>
 <div>
   <%= render partial: 'shared/art_card', locals: {art: art} %>
 </div>
<% end %>
