<div class="row align-items-center justify-content-center">
<%= render partial: 'shared/artist_card_show', locals: {artist: @artist} %>
</div>


<p class="grid-headers pt-2 pb-1"><strong>Welcome to <%= @artist.first_name %>'s art!</strong></p>
<div class="container front-page-grid">
<% @artist.arts.each do |art| %>
<div class="row">
      <div class="products pl-5 card-grid-3c">
   <%= render partial: 'shared/art_card', locals: {art: art} %>
<div>
 </div>
</div>
</div>
<% end %>
</div>


