Paginate/limit.  Design this too, shit.

 <div class="row align-items-center justify-content-center">
<%= render partial: 'shared/artist_card_show', locals: {artist: @artist} %>
</div>


<br>
 welcome to <%= @artist.first_name %>'s art!
 <br>

<% @artist.arts.each do |art| %>
 <div>
   <%= render partial: 'shared/art_card', locals: {art: art} %>
 </div>
<% end %>
