.navbar-lewagon {
  justify-content: space-between;
  background: white;  //For now.  Get it to work transparently someday.
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.notification-badge {
  margin-left: 0;
  margin-top: 0;
  font-size: 21px;
  position: absolute;
  right: 96px;
  top: 0px;
  color: red;
  z-index: 100;
}

#badge-count {
  color: white;
  position: absolute;
  font-size: 14px;
  right: 6px;
  top: 15px;
}

// This is to attempt to get a sub-menu option test
// .dropdown-submenu {
//   position: relative;
// }

// .dropdown-submenu a::after {
//   transform: rotate(-90deg);
//   position: absolute;
//   right: 6px;
//   top: .8em;
// }

// .dropdown-submenu .dropdown-menu {
//   top: 0;
//   left: 100%;
//   margin-left: .1rem;
//   margin-right: .1rem;
// }
