#browse_art_media {
  width: 15em;
}

#browse_genre_tags {
  width: 15em;
}

#browse_country {
  width: 15em;
}

#artist_kinds_search {
  width: 15em;
}

#artist_styles_search {
  width: 15em;
}

#artists_country_search {
  width: 15em;
}

#job_kinds_search {
  width: 15em;
}

#job_styles_search {
  width: 15em;
}

#job_new_frequency {
  width: 15em;
}



